.board_area {
  display: inline-block;
  top: 0;
  left: 0;
  height: 40vw;
  width: 60vw;
  position: relative;
}

.ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  /* border: 1px solid black; */
}

.ring0 {
  height: 30px;
  width: 30px;
}

.ring1 {
  height: 130px;
  width: 130px;
}

.ring2 {
  height: 230px;
  width: 230px;
}

.ring3 {
  height: 330px;
  width: 330px;
}

.ring4 {
  height: 430px;
  width: 430px;
}

.ring5 {
  height: 530px;
  width: 530px;
}

.ring6 {
  height: 630px;
  width: 630px;
}

.ring7 {
  height: 730px;
  width: 730px;
}

.ring8 {
  height: 830px;
  width: 830px;
}

.ring9 {
  height: 930px;
  width: 930px;
}

.ring10 {
  height: 1030px;
  width: 1030px;
}

.tile {
  display: inline-block;
  height: 50px;
  width: 70px;
  border: 1px solid black;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.playerIcon, .zombieIcon {
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.shovel, .bat, .torch {
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

 .shotgun, .batteries{
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: transparent;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%)
 }

  .batteries{
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: transparent;
  top: 75%;
  left: 100%;
  transform: translate(-75%, -100%)
 }

.shovel {
  background-image: url(../assets/shovel.png);
}

.torch {
  background-image: url(../assets/torch.png);
}

.batteries {
  background-image: url(../assets/batteries.png);
}

.shotgun {
  background-image: url(../assets/shotgun.png);
}

.bat {
  background-image: url(../assets/bat.png);
}

#playerItem {
  position: relative;
  display: flex;
  top: revert;
  left: revert;
}

.playerBoxContainer {
  height: 75%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  overflow: auto;
}

.playerBox {
  width: 99%;
  height: 10%;
  border: 1px solid black;
  background-color: white;
  text-align: left;
  font-size: 200%;
}

.menuBoxContainer {
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  display: flex;
  right: 2%;
  top: 0%;
  height: 100%;
  width: 500px;
}

.rollbox{
  display: flex;
  width: 50%;
  background-color: white;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  font-size: 500%;
}

.menuContainerBottom {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
}

.turnBox {
  height: 100%;
  width: 50%;
  font-size: 500%;
  text-align: center;
  border: 1px solid black;
}

.turn {
  color: red;
  border-color: red;
}


/*
.player2{
  display: inline-block;
  height: 70px;
  width: 170px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 30%;
  right: 2%;
  text-align: center;
}
.player3{
  display: inline-block;
  height: 70px;
  width: 170px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 40%;
  right: 2%;
  text-align: center;
}
.player4{
  display: inline-block;
  height: 70px;
  width: 170px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 2%;
  text-align: center;
} */
